
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            Okulumuz
            <small>Hakkında</small>
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/Home/Index">Anasayfa</a>
                
            </li>
            <li class="breadcrumb-item active">Okulumuz</li>
        </ol>
        <!-- Intro Content -->
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid rounded mb-4" src="~/Images/ok.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <h2>Hakkımızda</h2>
                <p> Trakya Üniversitesi Rektörlüğüne bağlı olarak Keşan Yusuf Çapraz Uygulamalı Bilimler Yüksekokulu kurulması; Millî Eğitim Bakanlığının 28/1/2009 tarihli ve 2654 sayılı yazısı üzerine, 28/3/1983 tarihli ve 2809 sayılı Kanunun ek 30 uncu maddesine göre, Bakanlar Kurulu’nca 2/2/2009 tarihinde kararlaştırılmıştır. (Karar Sayısı : 2009/14652)</p>
                <p>Yüksekokulumuz bünyesinde aşağıda belirtilen bölümlerle “LİSANS” eğitimi yapılmaktadır.</p>
                <p>1-      Bankacılık ve Sigortacılık Bölümü <br />

                   2-      Bilgisayar Teknolojileri ve Bilişim Sistemleri Bölümü<br />

                    3-      Gümrük İşletme Bölümü<br />

                    4-      İşletme Bilgi Yönetimi Bölümü<br />

5-      Uluslararası Ticaret Bölümü</p>
            </div>
        </div>
        <!-- /.row -->
        <!-- Team Members -->
        <h2>Misyonumuz/Vizyonumuz/Hedeflerimiz</h2>
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="~/Images/misyonn.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Mizyonumuz</h4>
                        @*<h6 class="card-subtitle mb-2 text-muted">Position</h6>*@
                        <p class="card-text">Atatürkçü çağdaş düşünce anlayışıyla, gelişen ve değişen dünyada ulusal ve uluslararası rekabet ortamındaki işletmelere; eğitim aldıkları alanlarda teoriyi bilen ve bunu gerekli teknoloji ile destekleyerek uygulamaya yansıtabilen, sektör tarafından tercih edilen, yenilikçi, üretken, girişimci insan gücü yetiştirmektir.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="~/Images/vizyonn.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Vizyonumuz</h4>
                        @*<h6 class="card-subtitle mb-2 text-muted">Position</h6>*@
                        <p class="card-text">Eğitim verdiği alanlarda; ulusal ve uluslararası düzeyde başarılı, saygın ve tercih edilen bir yüksekokul olmaktır.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="~/Images/hedeff.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Hedeflerimiz</h4>
                        @*<h6 class="card-subtitle mb-2 text-muted">Position</h6>*@
                        <p class="card-text">1.Uluslararası düzeyde gelişmeyi hedefleyerek; öğrencilerimize, öğretim üyelerimize, personelimize, mezunlarımıza ve tüm paydaşlarımıza motive edici ve ilham verici bir entellektüel ortam oluşturmayı desteklemek;<br />
                          2.Bilgi çağında yaşanan hızlı değişimler karşısında; kendisini tanımak ve tanıtmak, özvarlıklarını koruyarak, kendi eğitim sistemini AB standartlarına ulaştırmak;<br />
                          3.Mezunlarımıza iş bulma kolaylığı sağlamak;<br />
                          4.Araştırma ve uygulama esaslı lisans ve lisansüstü eğitimleri gerçekleştirmek.</p>
                    </div>
                    @*<div class="card-footer">
                        <a href="#">name@example.com</a>
                    </div>*@
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Our Customers -->
        <h2>Our Customers</h2>
        <div class="row">
            <div class="col-lg-2 col-sm-4 mb-4">
                <img class="img-fluid" src="~/Images/okul8.jpg" alt="">
            </div>
            <div class="col-lg-2 col-sm-4 mb-4">
                <img class="img-fluid" src="~/Images/okul2.jpg" alt="">
            </div>
            <div class="col-lg-2 col-sm-4 mb-4">
                <img class="img-fluid" src="~/Images/okul5.jpg" alt="">
            </div>
            <div class="col-lg-2 col-sm-4 mb-4">
                <img class="img-fluid" src="~/Images/okul8.jpg" alt="">
            </div>
            <div class="col-lg-2 col-sm-4 mb-4">
                <img class="img-fluid" src="~/Images/okul5.jpg" alt="">
            </div>
            <div class="col-lg-2 col-sm-4 mb-4">
                <img class="img-fluid" src="~/Images/okul2.jpg" alt="">
            </div>
        </div>
        <!-- /.row -->
    </div>




