
@{
    ViewBag.Title = "Blog3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            Staj
            <small>
                Bilgileri
            </small>
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/Home/Index">Anasayfa</a>
            </li>
            <li class="breadcrumb-item active">Staj</li>
        </ol>
        <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-8">
                <!-- Preview Image -->
                <img class="img-fluid rounded" src="~/Images/staj.png" alt="">
                <hr>
                <!-- Post Content -->
                <p>
                    1. Yaz dönemi stajından önceki eğitim-öğretim döneminde Bölüm Staj Komisyonunca hazırlanan Staj Çalışma Takvimi, duyuru panoları ve internet ortamı kullanılarak ilan edilir ve uygulamaya konulur.Staj yapacak öğrenciler, eğitim-öğretim gördükleri Bölüm Başkanlığına ve Danışmanlarına Staj Ön Başvuru Formu (EK1)’nu doldurarak staj ön başvurusunda bulunurlar. Staj Ön Başvuruları kabul edilen öğrenciler, staj yapmak istediği işyerinden İşyeri Staj Ön Kabul Formu (EK2)’nu 15 gün içerisinde getirmek zorundadırlar. Bölüm Staj Komisyonları, ön başvuruları, öğrencilerin staj yapabilecekleri sınıfta olup olmadıklarını dikkate alarak inceler ve o staj döneminde kaç öğrencinin staj yapabileceğini belirler.
                </p>
                <p>
                    2. İşyeri Staj Ön Kabul Formu’nu teslim eden öğrenciler ve stajı uygun görülen öğrenciler, staj yapacakları işyerinden İşyeri Staj Başlama Formu (EK3)’nu staja başladıkları tarihten itibaren 15 gün içinde Danışmanları ve Bölüm Staj Komisyonlarına teslim etmek zorundadırlar. Staj yapacak öğrencilerin; adı soyadı, öğrenci no, staj yapacakları işyeri, staj başlangıç ve bitiş tarihi bilgilerini içeren Staj Yapacak Öğrenci Listesi, Bölüm Staj Komisyonunca Yüksekokul Bütçe, Satın Alma ve Tahakkuk Birimine bildirilir.
                </p>
                <p>
                    3.Staj başlama tarihinden en geç bir gün önce, Yüksekokul Bütçe, Satın Alma ve Tahakkuk Birimi tarafından, Sosyal Güvenli Kurumuna, staj çalışması yapacak öğrencilerin İşe Giriş Bildirimi yapılarak ilgili formlar staj yapılacak işyerine gönderilir.Yüksekokul Bütçe, Satın Alma ve Tahakkuk Birimi tarafından, staj çalışması süresince her ayın; en geç 23’ünde Sosyal Güvenlik Kurumuna bir önceki aya ilişkin Prim Beyannamelerinde bulunulurken, en geç 26’sına kadar da tahakkuk eden prim tutarının ödenebilmesi için T.Ü. Strateji Geliştirme Daire Başkanlığına bilgi verilir. T.Ü. Strateji Geliştirme Daire Başkanlığınca ilgili ayın sonuna kadar Sosyal Güvenli Kurumuna prim ödemesi yapılır.
                </p>

                <p>
                    4.Staj Rapor Dosyası ve Staj Sonu İşyeri Değerlendirme Raporu (EK4) imza karşılığı öğrencilere teslim edilir ve staj başlar. Öğrenci Staj Sonu İşyeri Değerlendirme Raporunu (EK4), staj yaptığı işyerinde yetkili amir/ amirlerine staj başlangıcında teslim eder.Staj çalışması sona erdikten sonra Staj Rapor Dosyası (öğrenci tarafından), Staj Sonu İşyeri Değerlendirme Raporunu (EK4) (kapalı zarf içinde ağzı mühürlü olarak öğrenci tarafından veya taahhütlü posta yolu ile) Bölüm Başkanlığına, Bölüm Staj Komisyonuna verilmek üzere, staj bitimini takiben bir hafta içinde teslim edilir.
                </p>
                <p>
                   5.Öğrencinin staj çalışması sona erdikten sonraki 10 gün içerisinde, Yüksekokul Bütçe Satın Alma ve Tahakkuk Birimi tarafından Sosyal Güvenlik Kurumu’na İşten Çıkış Bildiriminde bulunulur.Daha önceden duyurulmuş bulunan Staj Çalışma Takvimi uyarınca, Bölüm Staj Komisyonunca, Staj Komisyonunca, Staj Rapor Dosyası ve Staj Sonu İşyeri Değerlendirme Raporu incelenir.
                </p>
                <hr>

                <!-- Single Comment -->
                <div class="media mb-4">
                   
                </div>
                <!-- Comment with nested comments -->
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="~/Images/dosya.png" alt="">
                    <div class="media-body">
                        <h5 class="mt-0"></h5>
                        Staj yapacak öğrencilerin; adı soyadı, öğrenci no, staj yapacakları işyeri, staj başlangıç ve bitiş tarihi bilgilerini içeren Staj Yapacak Öğrenci Listesi, Bölüm Staj Komisyonunca Yüksekokul Bütçe, Satın Alma ve Tahakkuk Birimine bildirilir.

                        <div class="media mt-4">
                            <img class="d-flex mr-3 rounded-circle" src="~/Images/dosya.png" alt="">
                            <div class="media-body">
                                <h5 class="mt-0"></h5>
                                Staj başlama tarihinden en geç bir gün önce, Yüksekokul Bütçe, Satın Alma ve Tahakkuk Birimi tarafından, Sosyal Güvenli Kurumuna, staj çalışması yapacak öğrencilerin İşe Giriş Bildirimi yapılarak ilgili formlar staj yapılacak işyerine gönderilir.
                            </div>
                        </div>
                        <div class="media mt-4">
                            <img class="d-flex mr-3 rounded-circle" src="~/Images/dosya.png" alt="">
                            <div class="media-body">
                                <h5 class="mt-0"></h5>
                                Öğrencinin staj çalışması sona erdikten sonraki 10 gün içerisinde, Yüksekokul Bütçe Satın Alma ve Tahakkuk Birimi tarafından Sosyal Güvenlik Kurumu’na İşten Çıkış Bildiriminde bulunulur.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">
                <!-- Search Widget -->
                <div class="card mb-4">
                    <h5 class="card-header">Amaç</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <p>Bu talimatın amacı, Trakya Üniversitesi Keşan Yusuf Çapraz Uygulamalı Bilimler Yüksekokulu’nda yaptırılan staj çalışmalarına ilişkin işlemleri açıklamaktır.</p>
                        </div>
                    </div>
                </div>
                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Sorumlular</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <p>Müdür</p>
                                    </li>
                                    <li>
                                        <p>Müdür Yardımcıcı</p>
                                    </li>
                                    <li>
                                        <p>Bölüm Başkanı</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <p>Denetçi Öğretim Elemanı</p>
                                    </li>
                                    <li>
                                        <p>Yüksekokul Sekreteri</p>
                                    </li>
                                    <li>
                                        <p>Öğrenciler</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Side Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Dokümanlar</h5>
                    <div class="card-body">
                       1. T.Ü. Lisans Eğitim, Öğretim ve Sınav Yönetmeliği,
                        <br />
                       2. T.Ü. Keşan Yusuf Çapraz Uygulamalı Bilimler Yüksekokulu Staj Yönergesi
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>



