
@{
    ViewBag.Title = "Blog2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            Öğrenci
            <small>Toplulukları</small>
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/Home/Index">Anasayfa</a>
            </li>
            <li class="breadcrumb-item active">Öğrenci</li>
        </ol>
        <!-- Blog Post -->
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="#">
                            <img class="img-fluid rounded" src="~/Images/tubit.png" alt="">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <h2 class="card-title">Bilişim ve İnovasyon Topluluğu</h2>
                        <p class="card-text">Topluluğun amacı, üyelerinin ve tüm Trakya Üniversitesi öğrencilerinin bilgisayar ve eğitim alanında en iyi şekilde temsil etmek, öğrencilerin bilgisayar alanında eğitimlerine ve gelişimlerine destek olmak, kapsadığı bölümlerin bilgisayar ve eğitim alanındaki eksiklerini gidermek, birlik ve bütünlük sağlamak, yeni gelişen teknolojileri daha yakından takip etmek ve bilgi paylaşımında bulunmaktır. Benzer ilgi alanlarına sahip olan öğrencileri bir araya getirerek sosyalleşmelerini sağlama ve bilişim sektörüyle öğrenciler arasında bir bağ kurmaktır. Topluluğun hedef kitlesi bilişim teknolojilerine ilgi duyan bütün öğrencilerdir.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog Post -->
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="#">
                            <img class="img-fluid rounded" src="~/Images/kultur.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <h2 class="card-title">Kültür Topluluğu</h2>
                        <p class="card-text">Trakya Üniversitesi KYÇUBYO bünyesinde kurulmuş bir öğrenci topluluğudur. Misyonumuz kültür ve sanat ile işlenmiş bir sosyal hayatı, tüm yoğunluğuyla yaşamak ve yaşatmak, öğrenciler arası iletişimi ve kolektif çalışma ruhunu geliştirmektir.Bu hedeften hareketle Kültür Topluluğu; herkese hitap eden, kendisini, yeteneğini, düşünce ve hayallerini paylaşma fırsatı arayan tüm arkadaşlarımıza kapılarını açan, çok yönlü ve çok amaçlı bir sosyal çalışma ortamıdır.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog Post -->
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="#">
                            <img class="img-fluid rounded" src="~/Images/doga.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <h2 class="card-title">Doğa Sporları Topluluğu</h2>
                        <p class="card-text">
                            KYÇUBYO Doğa Sporları Topluluğu
                            2012 yılında kurulmuş olan topluluk eğitim öğrenim dönemlerinde Keşan başta olmak üzere Trakya Bölgesi’nin çeşitli bölgelerinde doğa yürüyüşü, dağ bisikleti, su altı dalışı, yamaç paraşütü faaliyetleri yapar, doğa-kültür gezileri ve piknikler düzenler. Topluluğun amacı, sosyal imkanları az olan Keşan’da öğrenci arkadaşlarımızın boş zamanlarını doğada geçirerek yeni hobi ve beceriler edinmesini sağlamaktır.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog Post -->
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="#">
                            <img class="img-fluid rounded" src="~/Images/tusos.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <h2 class="card-title">Sosyal Sorumluluk Topluluğu</h2>
                        <p class="card-text">Topluluk ilköğretim seviyesindeki çocuklara her türlü yardım, fidan dikme, huzurevi ve Çocuk Esirgeme Kurumu ziyareti, fiziksel ve zihinsel engelli vatandaşlarımıza yardım gibi faaliyetleri düzenlemektedir. Topluluğun amacı; gönüllü arkadaşlarımızla uzakta olanı yakın kılabilmek, sorunun değil çözümün bir parçası olmak, sadece kendimiz için değil başkaları için de birşeyler yapabilmektir.</p>
                    </div>
                </div>
            </div>
         
        </div>
        
    </div>




