
@{
    ViewBag.Title = "OtherPages3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            Gümrük
            <small>İşletme</small>
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/Home/Index">Anasayfa</a>
            </li>
            <li class="breadcrumb-item active">Bölümler</li>
        </ol>
        <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Ders İçerikleri #1</a>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-body">
                        Dış ticaretin tanımı ve kapsamı; Uluslararası ticaret teorileri, mutlak üstünlük teorisi, karşılaştırmalı üstünlük teorisi, Uluslararası mamulün hayat seyri uygulaması, nispi yakınlık teorisi, karşılaştırmalı ekonomik büyüme oranı teorisi, karşılaştırmalı arz talep eğrisi, ekonomik kalkınma teorileri, ithalatçı ve ihracatçı tanımı, dış ticarette ödeme usulleri, dış ticaret politikası ve amaçları, dış ticareti engelleyici koşullar, uluslararası ticaret blokları, serbest bölge uygulamaları.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Ders İçerikleri #2
                        </a>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-body">
                        Maliyet muhasebesine giriş ve maliyet muhasebesinin muhasebe sistemi içindeki yeri, Maliyet muhasebesi ile ilgili temel kavramlar, Farklı amaçlar için farklı maliyetler: Maliyetlerin sınıflandırılması, Madde/ malzeme maliyetleri: LIFO ( Son-Giren-İlk Çıkar) stok değerleme yöntemi, FIFO ( İlk-Giren-İlk Çıkar) stok değerleme yöntemi, Ortalama maliyet stok değerleme yöntemleri, İşçilik maliyetleri, Genel üretim maliyetleri: Gider dağıtımında birinci aşama, Gider dağıtımında ikinci ve üçüncü aşama, Sipariş maliyeti sistemleri, Safha maliyeti sistemlerinin tanıtımı, Safha maliyeti sisteminde beş aşamalı olarak maliyetlerin belirlenmesi, Safha maliyeti sistemleri: Tartılı Ortalama Maliyet Yöntemi, Safha maliyeti sistemleri: FIFO(İlk-Giren-İlk-Çıkar) yöntemi, Safha maliyeti Sisteminde bozuk ürünlerin maliyeti.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Ders İçerikleri #3</a>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="card-body">
                        Amaç ve kapsam, Gümrük Mevzuatı çerçevesinde kişilerin hak ve yükümlülüklerine ilişkin çeşitli hükümler, (Temsil hakkı, Gümrük Mevzuatının uygulamasına ilişkin kararlar), Bilgi ve bilgiye ilişkin yükümler, Basitleştirilmiş Usul ve Diğer Hükümler, (Basitleştirilmiş Usulün kapsamı, Serbest dolaşıma giriş beyanı, İhracat Rejimi, Gümrük Antrepo Rejimi, Hariçte İşlemi Rejimi, Dahilde İşleme, Gümrük Kontrolü Altında işleme veya geçici ithalat Rejimleri), Süreler, Taşıtların Kontrolü ve Gümrük Bölgesine Getirilen Eşya Gümrükçe onaylanmış bir işlem veya kullanıma tabi tutulana kadar uygulanacak hükümler, (Taşıtların Kontrolü, Eşyanın Türkiye Gümrük Bölgesine Girmesi, Eşyanın Gümrüğe Sunulması, Özet Beyan ve Gümrüğe sunulan eşyanın boşaltılması), Gümrüğe sunulan eşyaya Gümrükçe onaylanmış bir işlem veya kullanım belirlenmesi zorunluluğu, Eşyanın geçici depolanması, Transit Rejimi altında taşınan eşyaya uygulanacak hükümler, Diğer hükümler, Gümrükçe onaylanmış işlem veya kullanım (Gümrükçe onaylanmış işlem veya kullanım kısıtlamaları, Misilleme, Sahte Menşeli eşya ve zarflar, Fikri ve sınai Mülkiyet Haklarının korunması)
                    </div>
                </div>
            </div>
        </div>
    </div>


