
@{
    ViewBag.Title = "OtherPages5";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        İşletme
        <small>Bilgi Yönetimi</small>
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Anasayfa</a>
        </li>
        <li class="breadcrumb-item active">Bölümler</li>
    </ol>
    <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Ders İçerikleri #1</a>
                </h5>
            </div>
            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-body">
                    İşletme ve muhasebe, bilanço ve mali işlemler, gelirler tablosu, mali tablolar için bilgi toplamada hesap, muhasebede kayıt araçları, muhasebenin temel kavramları ve genel kabul görmüş muhasebe ilkeleri, muhasebe dönemi başındaki işlemler, muhasebe süreci, mal alım-satım işlemlerinin “aralıklı envanter yönetimine göre kaydı, aralıklı envanter yönetimi uygulaması, mal alım-satım işlemlerinin “geliştirilmiş aralıklı envanter yönetimi” ne göre kaydı, geliştirilmiş aralıklı envanter yönetimi uygulaması, mal alım-satım işlemlerinin “devamlı envanter yönetimi” ne göre kaydı, devamlı envanter yönetimi uygulaması, Katma Değer Vergisi uygulamaları, dönem sonu kayıtları ve dönem sonucunun saptanması, dönem sonu mali tabloların düzenlenmesi, muhasebe dönemine ilişkin bütün bir uygulama.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Ders İçerikleri #2
                    </a>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-body">
                    İş hukukunun hukuk dalları ayırımındaki yeri. İş hukukunun kaynakları. İş hukukunun yardımcı dalları. İş hukukunun bölümleri. İş hukukuna yön veren temel ilke ve düşünceler. İşçi, işveren, işveren vekili, çırak, stajyer, işyeri, işletme kavramları. İş sözleşmesi kavramı ve iş sözleşmesi türleri. İş sözleşmelerinin eser sözleşmesi ve vekalet sözleşmesinden ayrılması, İş Kanununun kapsamı.  Çalışma süreleri, telafi çalışması, ara dinlenmesi, gece çalışması. Yıllık ücretli izin, hazırlama tamamlama temizleme işleri. Fazla çalışma kavramı, işçinin ve işverenin borçları, ücret kavramı ve ücret sistemleri. Sendikalar, Türkiye’de sendikacılığın özellikleri, sendika kuruculuğu. Sendikaların organları, gelirleri, sendika üyeliği, sendikaların sona ermesi. Toplu iş sözleşmesi kavramı. Toplu iş sözleşmelerinin yapılmasının prosedürü. Barışçıl çözüm yolları: Arabuluculuk ve tahkim. Grev kavramı , yasal grevin unsurları, grev oylaması.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingThree">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Ders İçerikleri #3</a>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="card-body">
                    Web yayıncılığı ve Site tasarım süreci, HTML’e giriş, Bağlantılar ve Internet adreslerinin kullanımı, Web editörünün kullanımı, HTML ile resim ve görüntülerin kullanımı, HTML ile sayfa tasarımı, arka planlar, renkler ve metinler, HTML ile tablolar ve listeler, HTML ile çerçeve ve katman kullanımı, HTML form ve form elemanları, HTML şablonlarının kullanımı.
                </div>
            </div>
        </div>
    </div>
</div>



