
@{
    ViewBag.Title = "OtherPages2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
       Bilgisayar Teknolojisi
        <small>ve Bilişim Sistemleri</small>
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Anasayfa</a>
        </li>
        <li class="breadcrumb-item active">Bölümler</li>
    </ol>
    <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Ders İçerikleri #1</a>
                </h5>
            </div>
            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-body">
                    Temel veri yapıları: diziler, liste, yığıt, kuyruk, öncelik kuyruğu, ağaçlar. Özyinelemeli programlama. Hash tablosu, çizgeler. Algoritma karmaşıklığı, O-gösterimi, algoritmaların bellek ve zaman gereksinimleri. İkili ağaçlar ve arama. Ağaç tarama algoritmaları. Sıralama algoritmaları. "
                    C++ dili ile programlamaya giriş; algoritma ve algoritma akış diyagramı, yapısal programlama kavramları: sıra, seçim, yineleme, soyutlama, yukarıdan aşağıya tasarım; programlama aşamaları; derlenen, yorumlanan diller; değişkenler ve veri tipleri, operatörler; akış denetimi, seçim, yineleme, dallanma komutları; bileşke veri tipleri, diziler, karakter katarları; fonksiyonlar, parametre aktarımı, arşiv fonksiyonları, tanım bölgesi; işaretçiler: bellek yönetimi, dizi işaretçi ilişkisi; önişlemci, başlık dosyaları; dosya işlemleri yer alır.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Ders İçerikleri #2
                    </a>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-body">
                    Nesne ve sınıf kavramı. Modüler tasarım, saklama sınıfı, kalıtım, çok biçimlilik, özel operatörler, operatörlerin aşırı yüklenmesi, değişken ömrü, dinamik bellek denetimi. Nesne yapıcı ve yok ediciler, yapıcılar üzerindeki kısıtlamalar, yapıcıların çağrılması, parametreli ve varsayılan yapıcılar.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingThree">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Ders İçerikleri #3</a>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="card-body">
                    Veritabanı Nedir?, Niçin Veritabanı Kullanılır?, DBMS Bileşenleri, Veritabanı Modelleri, Çok kullanıcılı DBMS Mimarisi,İlişkili Veritabanı Modeli Bileşenleri, Tablo,Kayıt,Alan,Index,Anahtar, Normalizasyon Kuralları, Tablolar arası ilişki  çeşitleri, Temel SQL Sorguları SELECT FROM WHERE ,Temel Aritmetik İfadeler ve Kümeleme Fonksiyonları  SUM,AVG,COUNT,MAX,MIN,TOP N, Gruplama ve Sıralama,Gruplama ve Sıralama, GROUP BY ,HAVING,ORDER BY, Birden fazla tablo kullanarak sorgulama, INNER JOIN, RIGHT JOIN, LEFT JOIN, UNION, İç içe sorgular oluşturmak, IN birleşeni, Tablolarda Değişiklik Yapma,Tablo Oluşturma, Tablolarda Değişiklik Yapma, INSERT/UPDATE/DELETE, Form ve Denetimler, Form özelliklerinin incelenmesi, Form nesnelerinin incelenmesi, Başlangıç formun hazırlanması, Raporlar.
                </div>
            </div>
        </div>
    </div>
</div>




