
@{
    ViewBag.Title = "OtherPages1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Bankacılık
        <small>ve Sigortacılık</small>
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Anasayfa</a>
        </li>
        <li class="breadcrumb-item active">Bölümler</li>
    </ol>
    <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Ders İçerikleri #1</a>
                </h5>
            </div>
            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-body">
                    Ekonomik kavramlar; tercihler, fırsat maliyeti ilkesi, kıt kaynak kavramı, mal, hizmet ve fayda, ekonomi biliminde yöntem, ekonominin dalları; Talep, bireysel talep ve grup talebi, piyasa talebi ve talep eğrisi, talebi etkileyen faktörler; Arz, firma arzı, endüstri arzı ve endüstri arz eğrisi, arzı etkileyen faktörler ve arz eğrisinden kaymalar. Piyasa kavramı talep çizelgesi, arz çizelgesi, denge fiyatının oluşumu açısından piyasada fiyatın oluşumu ve piyasa mekanizması. Talep ve arz esneklikleri; esneklik kavramı; talebin fiyat esnekliği, talebin gelir esnekliği, talebin çapraz esnekliği, arzın fiyat esnekliği, arzın çapraz esnekliği. Fayda kavramı, marjinal fayda ve kayıtsızlık teorisi; Üretim ekonomisi.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Ders İçerikleri #2
                    </a>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-body">
                    İşletme ve muhasebe, bilanço ve mali işlemler, gelirler tablosu, mali tablolar için bilgi toplamada hesap, muhasebede kayıt araçları, muhasebenin temel kavramları ve genel kabul görmüş muhasebe ilkeleri, muhasebe dönemi başındaki işlemler, muhasebe süreci, mal alım-satım işlemlerinin “aralıklı envanter yönetimine” göre kaydı, aralıklı envanter yönetimi uygulaması, mal alım-satım işlemlerinin “geliştirilmiş aralıklı envanter yönetimi” ne göre kaydı, geliştirilmiş aralıklı envanter yönetimi uygulaması, mal alım-satım işlemlerinin “devamlı envanter yönetimi” ne göre kaydı, devamlı envanter yönetimi uygulaması, Katma Değer Vergisi uygulamaları, dönem sonu kayıtları ve dönem sonucunun saptanması, dönem sonu mali tabloların düzenlenmesi, muhasebe dönemine ilişkin bütün bir uygulama.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingThree">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Ders İçerikleri #3</a>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="card-body">
                    Banka kaynak kavramı, kredi ve kredi türleri, kaynak maliyeti, Paranın zaman değeri, Olağan anüite, Peşin anüite, iç verim yöntemi, enterplasyon, kar hesaplamaları, kredi maliyeti, sermaye maliyeti, ağırlıklı ortalama sermaye maliyeti, başabaş analizi, tahvil değerleme, hisse senedi değerleme, risk ve getiri, portföy riski konuları ele alınacaktır.
                </div>
            </div>
        </div>
    </div>
</div>



