
@{
    ViewBag.Title = "OtherPages4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Uluslararası
        <small>Ticaret</small>
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Anasayfa</a>
        </li>
        <li class="breadcrumb-item active">Bölümler</li>
    </ol>
    <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Ders İçerikleri #1</a>
                </h5>
            </div>
            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-body">
                    Değişen iş dünyasında bilişim sistemlerinden örneklere genel bakış. Bilişim sistemlerinin önemi, donanım, yazılım, altyapı ve bilgisayar programlama dillerinin evreleri, akıs şeması, paket programlar (Word ve Excel) ve web programcılığı. Bilgi teknolojileri ve bilişim sistemleri kavramları ve yönetimi, stratejik bilişim sistemleri, BPR (is akışlarının yeniden düzenlenmesi) ve bilgi teknolojileri. Alt yapı ile ilgili programlama, Internet ve ilgili değişik uygulamalar. Elektronik Ticaret; tanımlar, tarihçesi, kapsamı, telekomünikasyon. Bilgi kaynaklarının yönetimi; organizasyon içinde bilişim sistemleri bölümü, bilişim sistemlerinin korunmasında güvenlik ve kontrolün rolü ve bilişim sistemlerinde görülebilecek beklenmedik olaylar için planlama.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Ders İçerikleri #2
                    </a>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-body">
                    Ekonomide temel kavramlar (ihtiyaç, fayda, mal ve hizmetler, üretim, üretim faktörleri, gelir, tüketim, tasarruf, yatırım, değer, mübadele, para ve fiyat), ekonominin ana sorunları, ekonomik sistemler (kapitalizm, sosyalizm) ve karma ekonomi, piyasa ve çeşitleri, piyasada karar birimleri, tam rekabet ve eksik rekabet piyasaları, fiyat teorisi, talep ve arz, fiyat oluşumu, tüketim teorisi, fayda, kayıtsızlık analizi ve tüketici dengesi, üretim teorisi, üretim fonksiyonu ve azalan verimler yasası, üretim maliyetleri, tam rekabet piyasasında firma dengesi, tekel piyasaları, oligopol piyasaları, tekelci rekabet piyasaları.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingThree">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Ders İçerikleri #3</a>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="card-body">
                    Küresel ticaret akiminin anlaşılması, endüstriyel rekabet örnekleri ve devlet politikalarının uluslararası ticarete etkisi. Dünyada ve Avrupa'da ekonomik ve politik entegrasyon süreci, ekonomik yarar ve zararı. Avrupa Topluluğu’nun kurumsal yapısı, Gümrük Birliği, ortak pazar ve mali birlik. Ekonomik politikalarla, topluluk hukukunun sektörler bazında uyumlaştırılması, koordinasyonu ve uygulanması; tarım, sanayi, enerji, servis ve ulaşım sektörleri.
                </div>
            </div>
        </div>
    </div>
</div>




