
@{
    ViewBag.Title = "Portfolio2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            İdari
            <small>Yüksekokul Kurulu</small>
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/Home/Index">Anasayfa</a>
            </li>
            <li class="breadcrumb-item active">Yüksekokul Kurulu</li>
        </ol>
        <div class="row">
            <div class="col-lg-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="~/Images/mudur.jpg" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <h3>Prof.Dr.Adil Oğuzhan</h3>
                        </h4>
                        <p>
                            Görevi:Müdür<br />
                            Göreve Başlama Tarihi:24.01.2017<br />
                            Telefon :	0 (284) 235 71 51 » Dahili : 1119<br />
                            TÜ E-Posta : adiloguzhan@trakya.edu.tr

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="~/Images/tulay.jpg" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <h3>Dr. Öğr. Üyesi Tülay DEMİRALAY</h3>
                        </h4>
                        <p>
                            Görevi:Müdür Yardımcısı<br />
                            Görev Süresi :	08.02.2017 - 08.02.2020<br />
                            TÜ E-Posta :	tulaydemiralay@trakya.edu.tr
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="~/Images/mehmet.jpg" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <h3>DR.Öğr.Üyesi.Mehmet Emin BAYNAZOĞLU</h3>
                        </h4>
                        <p>
                            Görev :	Üye - İBY. Bölüm Başkanı<br />
                            Görev Süresi :	15.10.2018 - 15.10.2021<br />
                            TÜ E-Posta :	meminbaynazoglu@trakya.edu.tr
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="~/Images/erdem.jpg" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <h3>DOÇ.Dr.Erdem ÖNGÜN</h3>
                        </h4>
                        <p>
                            Görev :	Üye - HİR. Bölüm Başkanı<br />
                            Görev Süresi :	10.05.2018 - 10.05.2021<br />
                            Telefon :	0 (284) 712 52 06<br />
                            TÜ E-Posta :	erdemongun@trakya.edu.tr
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="~/Images/ali.jpg" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <h3>DOÇ.Dr.Ali ERDOĞAN</h3>
                        </h4>
                        <p>
                            Doç. Dr. Ali ERDOĞAN<br />
                            Görev :	Üye - BSB.Bölüm Başkanı<br />
                            Göreve Başlama :	14.02.2018<br />
                            Telefon :	0 (284) 712 52 06<br />
                            TÜ E-Posta :	alierdogan@trakya.edu.tr
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="~/Images/murat.jpg" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <h3>DR.Öğr.Üyesi.Murat TOPALOĞLU</h3>
                        </h4>
                      <p>
                          Görev :	Üye - BTBS. Bölüm Başkanı<br />
                          Görev Süresi :	31.01.2017 - 31.01.2020<br />
                          Telefon :	0 (284) 712 52 06 » Dahili : 1160<br />
                          TÜ E-Posta :	murattopaloglu@trakya.edu.tr
                      </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Pagination -->
        <ul class="pagination justify-content-center">
           
        </ul>
    </div>



