<div class="container">
    <h1 class="my-4"></h1>
    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Bilişim ve İnovasyon Zirvesi 2019 (BİZ'19)</h4>
                <div class="card-body">
                    <p class="card-text">
                        Trakya Üniversitesi Keşan Yusuf Çapraz Uygulamalı Bilimler Yüksekokulu Bilgisayar Teknolojisi ve Bilişim Sistemleri Bölümü - Bilgisayar ve İnovasyon Topluluğu (TÜBİT)  tarafından her yıl olduğu gibi bu yıl da Bilişim ve İnovasyon Zirvesi (BİZ19) düzenleniyor. Sektörde ün ve tecrübe sahibi pek çok ismin katılımıyla gerçekleştirilecek olan etkinliğin, 7 alanında uzman konuşmacı ve sektörde görev alan 6 mezun konuşmacının katılımı ile 3 gün sürmesi planlanıyor.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Gümrük İşletme Etkinliği</h4>
                <div class="card-body">
                    <p class="card-text">Okulumuz Gümrük İşletme Topluluğu, Malatya’da Fırat Ticaret Bölge Müdürlüğü’nde Bölge Müdürü Sayın Havva Eksilmez, Malatya Gümrük Müdürü Sayın Kadir Kutlu , Ömer Yaşar ile; KPSS sınavı sonucunda atamalarda yaşanan sorunları, bölümlerinin tek lisans eğitimi veren devlet üniversitesi konumunda olduğu, YouTube'da yayınlanan tanıtım filmleri ve kariyer planlamaları hakkında istişarelerde bulundular. Alınan geri dönüşler ise meslek alımlarında gümrük işletme bölümünün bir önceliği ve ayrıcalığı olması gerektiği hususunda görüş bildirdi. Bu bölümün hak ettiği yere gelmesi konusunda temennilerini ilettiler.</p>
                </div>
              
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Kariyer ve Girişimcilik Etkinliği </h4>
                <div class="card-body">
                    <p class="card-text">21/03/2019 Perşembe günü akademik danışmanlığını Öğr. Gör. Hüseyin ÇAKIRLAR’ın yaptığı “Kariyer ve Girişimcilik Topluluğu” tarafından “Yönetim Kalitesini İyileştirme” konulu seminer düzenlenmiştir. Yüksekokulumuz konferans salonunda gerçekleştirilen konferansa konuşmacı olarak proje yöneticiliği konusunda 15 yıllık sektörel deneyimi bulunan Bahar Yıldırım katılmıştır	</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- Portfolio Section -->
    <h2></h2>
    <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="~/Images/mezunn.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Mezun Bilgi Sistemi</a>
                    </h4>
                    <p class="card-text">
                        Sevgili Mezunlarımız;

                        Üniversitemiz ve mezunlarımız arasındaki ilişkileri daha etkin kılmak amacı ile Trakya Üniversitesi Mezun Bilgi Sistemi oluşturulmuştur. Mezunlarımızın bu sistemden yararlanabilmesi için kişisel bilgilerini sisteme girmeleri gerekmektedir. Girilen bilgiler öğrenci bilgi sisteminde kayıtlı ise otomatik olarak onaylanır, değilse sistem yöneticisi tarafından onaylandıktan sonra Mezun Bilgi Sistemine yansıtılmaktadır. Onay süreci ile ilgili herhangi bir sorun ile karşılaşırsanız; 0 (284) 226 42 16 » Dahili : 1175 no'lu telefondan bilgi alabilirsiniz.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="~/Images/uyruk.png" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Yabancı Uyruklu Öğrenci Danışmanı</a>
                    </h4>
                    <p class="card-text">Yabancı Uyruklu Öğrenci Danışmanı ÖĞR.GÖR.Hulusi Ekber Kaya</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="~/Images/erasmus.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Erasmus Temsilcileri</a>
                    </h4>
                    <p class="card-text">
                        Erasmus Birim Koordinatörü	Doç.Dr. Erdem ÖNGÜN
                        İşletme Bilgi Yönetimi Bölüm Koordinatörü 	 Yrd.Doç.Dr. M. Emin BAYNAZOĞLU
                        Bankacılık ve Sigortacılık Bölüm Koordinatörü	 Öğr. Gör. Nursel İŞÇİMEN
                        Gümrük İşletme Bölüm Koordinatörü	 Öğr. Gör. Dr. Pınar AKARÇAY
                        Uluslararası Ticaret Bölüm Koordinatörü	 Öğr. Gör.Hüseyin ÇAKIRLAR
                        Bilgisayar Teknolojisi ve Bilişim Sistemleri Bölüm Koordinatörü	 Öğr. Gör. Egemen TEKKANAT
                    </p>
                </div>
            </div>
        </div>
        @*<div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Yabancı Uyruklu Öğrenci Danışmanı</a>
                    </h4>
                    <p class="card-text">Yabancı Uyruklu Öğrenci Danışmanı ÖĞR.GÖR.Hulusi Ekber Kaya</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Yabancı Uyruklu Öğrenci Danışmanı</a>
                    </h4>
                    <p class="card-text">Yabancı Uyruklu Öğrenci Danışmanı ÖĞR.GÖR.Hulusi Ekber Kaya</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Yabancı Uyruklu Öğrenci Danışmanı</a>
                    </h4>
                    <p class="card-text">Yabancı Uyruklu Öğrenci Danışmanı ÖĞR.GÖR.Hulusi Ekber Kaya</p>
                </div>
            </div>
        </div>*@
    </div>
    <!-- /.row -->
    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-6">
            <h2>Atatürk Köşesi</h2>
            <ul>
                <li>
                    "Benden sonra beni benimsemek isteyenler bu temel mihver üzerinde akıl ve ilmin rehberliğini kabul ederlerse, manevi mirasçılarım olurlar."
                </li>
                <li>"Eğitimdir ki, bir milleti ya özgür, bağımsız, sanlı, yüksek bir topluluk halinde yasatır; ya da esaret ve sefalete terk eder."</li>
                <li>
                    "Hayatta en hakiki mürşit ilimdir.
                    İsterim ki, daima idealimi gençlere aşılayasınız ve daima korumak hususunda çalışasınız."
                </li>
               
            </ul>
            <p>Milli Eğitim’in gayesi yalnız hükümete memur yetiştirmek değil, daha çok memlekete ahlâklı, karakterli, cumhuriyetçi, inkılâpçı, olumlu, atılgan, başladığı işleri başarabilecek kabiliyette, dürüst, düşünceli, iradeli, hayatta rastlayacağı engelleri aşmaya kudretli, karakter sahibi genç yetiştirmektir. Bunun için de öğretim programları ve sistemleri ona göre düzenlenmelidir.</p>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid rounded" src="~/Images/ata.jpg" alt="">
        </div>
    </div>
    <!-- /.row -->
    <hr>
   
</div>
