<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="~/Home/Index">Keşan Yusuf Çapraz Uygulamalı Bilimler Yüksekokulu</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="~/Home/Index">Anasayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Home/About">Okulumuz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Home/Contact">İletişim</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        İdari
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                        <a class="dropdown-item" href="~/Home/Portfolio1">Yönetim</a>
                        <a class="dropdown-item" href="~/Home/Portfolio2">Yüksekokul Kurulu</a>
                        <a class="dropdown-item" href="~/Home/Portfolio3">Yüksekokul Yönetim Kurulu</a>
                        <a class="dropdown-item" href="~/Home/Portfolio4">Komisyonlar ve Kurullar</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Öğrenci
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                        <a class="dropdown-item" href="~/Home/Blog2">Öğrenci Toplulukları</a>
                        <a class="dropdown-item" href="~/Home/Blog3">Staj</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bölümler
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                        <a class="dropdown-item" href="~/Home/OtherPages1">Bankacılık ve Sigortacılık</a>
                        <a class="dropdown-item" href="~/Home/OtherPages2">Bilgisayar Teknolojisi ve Bilişim Sistemleri</a>
                        <a class="dropdown-item" href="~/Home/OtherPages3">Gümrük İşletme</a>
                        <a class="dropdown-item" href="~/Home/OtherPages4">Uluslararası Ticaret</a>
                        <a class="dropdown-item" href="~/Home/OtherPages5">İşletme Bilgi Yönetim</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
